*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
header{
    background-color:rgb(224, 240, 255);
    padding: 20px;
    text-align: center;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #e8f7ff;
}

div{
    background-color: rgb(46, 147, 255);
    border: 2px solid rgb(255, 0, 68);
    flex-basis: calc(50% - 20px);
    
    color: white;
    padding: 20px;

}